{{> ../head }}
{{> ../organisms/home-banner}}
{{> ../organisms/home-header}}
{{> ../organisms/my-experience}}
{{> ../organisms/for-me-info}}
{{> ../organisms/slider-project}}
{{> ../organisms/my-works}}
{{> ../organisms/my-foot}}
{{> ../foot }}