{{#org-home-header}}
  <header>
    <div class="nav_wrapper wrapper-style">
      <div class="container claerfix d-flex align-items-lg-center align-items-start justify-content-between">
        <div class="w-100 d-flex justify-content-between align-items-center flex-wrap">
          <img class="brand-style" src="assets/img/logo.png" alt="logo">
          <div class="spinner-master">
            <input type="checkbox" id="spinner-form" />
            <label for="spinner-form" class="spinner-spin">
              <div class="spinner diagonal part-1"></div>
              <div class="spinner horizontal"></div>
              <div class="spinner diagonal part-2"></div>
            </label>
          </div>
          <nav id="menu" class="menu-header float-right">
            <ul class="dropdown">
              <li><a href="#Link" title="Link">About Me</a></li>
              <li><a href="#Link" title="Link">My Education</a></li>
              <li><a href="#Link" title="Link">My Skils</a></li>
              <li><a href="#Link" title="Link">My Portfolio</a></li>
              <li><a href="#Link" title="Link">Contact Me</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
{{/org-home-header}}
