{{#org-my-experience}}
  <section class="info-for-me">
    <div class="container">
      <div class="info-for-me__main">
        {{> ../molecules/for-me-item}}
      </div>
    </div>
  </section>
{{/org-my-experience}}
