{{#org-my-foot}}
  <footer class="foot">
    <div class="container">
      <div class="my-footer-content">
        <div class="row d-lfex justify-content-between">
          <div class="col-12 col-lg-5">
            <div class="my-footer-content__contact-info">
              <div class="my-footer-content__contact-info__image">
                <img src="assets/img/my-face.jpg" alt="img">
              </div>
              <div class="my-footer-content__contact-info__name">
                <h2>Liubomyr Prystanskyi</h2>
                <h3>Front-End Developer</h3>
              </div>
            </div>
            <div class="my-footer-content__location">
              <div>
                <p>Ukraine, L'viv</p>
                <p>V.Symonenka Street</p>
              </div>
              <div class="phone-block">
                  <img src="assets/img/phone-img.png" alt="phone">
                <a href="tel:+380637275517">+380637275517</a>
              </div>
              <div class="mail-block">
                <img src="assets/img/mail-img.png" alt="phone">
                <a href="mailto:l.prystansky@gmail.com">l.prystansky@gmail.com</a>
              </div>
              <div class="resume-download">
                <a href="assets/img/Profile.docx" download>Download Resume</a>
              </div>
            </div>
            <div class="my-footer-content__social-icon">
              <ul>
                <li>
                  <a href="https://www.facebook.com/profile.php?id=100008323813870">                 
                    facebook
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/l.prystansky/">instagram</a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/liybomur-prystansky-30ab68182/">linkedin</a>
                </li>
                <li>
                  <a href="l.prysransky@gmail.com">gmail: l.prysransky@gmail.com</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="my-footer-content__contact-form">
              <form action="/">
                <input type="text " placeholder="Full Name" required>
                <input type="email" placeholder="Email" required>
                <input type="text" placeholder="Number" required>
                <textarea name="message" type="text" id="input-message" placeholder="Message" style="resize: none;"></textarea>
                <input type="submit" value="Submit" id="input-submit" required>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
{{/org-my-foot}}
