{{#org-slider-project}}
  <section class="slider-project">
    <div class="slider-project__main">
      <div class="default-title">
        <h2>My Works</h2>
      </div>
      <div class="slider-project__main__slider">
        <div class="slider-project__main__slider__item">
          <img src="assets/img/capanova.PNG" alt="az">
        </div>
        <div class="slider-project__main__slider__item">
          <img src="assets/img/jm-1.png" alt="jm">
        </div>
        <div class="slider-project__main__slider__item">
          <img src="assets/img/wp-1.png" alt="wp">
        </div>
        <div class="slider-project__main__slider__item">
          <img src="assets/img/az-1.png" alt="az">
        </div>
        <div class="slider-project__main__slider__item">
          <img src="assets/img/rock.PNG" alt="az">
        </div>
        <div class="slider-project__main__slider__item">
          <img src="assets/img/smpl.PNG" alt="az">
        </div>
        <div class="slider-project__main__slider__item">
          <img src="assets/img/tabakov.PNG" alt="az">
        </div>
        <div class="slider-project__main__slider__item">
          <img src="assets/img/poligraphia.PNG" alt="az">
        </div>
      </div>
    </div>
  </section>
{{/org-slider-project}}
